<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TeslaX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
        <TeslaX.Properties.Settings>
            <setting name="Debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SimulateInput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DistanceLeft" serializeAs="String">
                <value>58</value>
            </setting>
            <setting name="DistanceRight" serializeAs="String">
                <value>38</value>
            </setting>
            <setting name="SkinColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxMove" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="MinStop" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="RichPresence" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TotalBlocks" serializeAs="String">
                <value>0</value>
            </setting>
        </TeslaX.Properties.Settings>
    </userSettings>
</configuration>
